typings/
08_histogram_backproject_meanshift_camshift/wooden_star.jpg
08_histogram_backproject_meanshift_camshift/wooden_star_extracted.png
08_histogram_backproject_meanshift_camshift/wooden_star_video.mp4
08_histogram_backproject_meanshift_camshift/selfie.jpg
08_histogram_backproject_meanshift_camshift/vado.mp4
08_histogram_backproject_meanshift_camshift/reporte/punto_1.mp4
08_histogram_backproject_meanshift_camshift/reporte/punto_2.mp4
08_histogram_backproject_meanshift_camshift/reporte/punto_3_camshift.mp4
08_histogram_backproject_meanshift_camshift/reporte/punto_3_meanshift.mp4
09_tesseract/VID_20221020_214710.mp4
09_tesseract/reporte/Resultado.mp4
11_mediapipe/rock_paper_scissors_input.mp4
11_mediapipe/rock_paper_scissors_input_720.mp4
11_mediapipe/Abbs.mp4
11_mediapipe/face_input.mp4
11_mediapipe/CarreteraBosque.mp4
11_mediapipe/CarreteraBosque_fix.mp4
11_mediapipe/video_call_input.mp4
11_mediapipe/reporte/resultado_punto_1.mp4
11_mediapipe/reporte/resultado_punto_2.mp4
11_mediapipe/reporte/resultado_punto_3.mp4
11_mediapipe/reporte/resultado_punto_4.mp4
14_clasificador_haar_cascade/ironman/
14_clasificador_haar_cascade/landscapes/
14_clasificador_haar_cascade/VID_20221030_234551.mp4
14_clasificador_haar_cascade/VID_20221030_234551_min.mp4
14_clasificador_haar_cascade/classifier/cascade.xml
14_clasificador_haar_cascade/classifier/log.txt
14_clasificador_haar_cascade/classifier/params.xml
14_clasificador_haar_cascade/classifier/stage0.xml
14_clasificador_haar_cascade/classifier/stage1.xml
14_clasificador_haar_cascade/classifier/stage2.xml
14_clasificador_haar_cascade/classifier/stage3.xml
14_clasificador_haar_cascade/classifier/stage4.xml
14_clasificador_haar_cascade/classifier/stage5.xml
14_clasificador_haar_cascade/classifier/stage6.xml
14_clasificador_haar_cascade/classifier/stage7.xml
14_clasificador_haar_cascade/neg.lst
14_clasificador_haar_cascade/pos.lst
14_clasificador_haar_cascade/pos_samples.vec

