typings/
08_histogram_backproject_meanshift_camshift/wooden_star.jpg
08_histogram_backproject_meanshift_camshift/wooden_star_extracted.png
08_histogram_backproject_meanshift_camshift/wooden_star_video.mp4
08_histogram_backproject_meanshift_camshift/selfie.jpg
08_histogram_backproject_meanshift_camshift/vado.mp4
08_histogram_backproject_meanshift_camshift/reporte/punto_1.mp4
08_histogram_backproject_meanshift_camshift/reporte/punto_2.mp4
08_histogram_backproject_meanshift_camshift/reporte/punto_3_camshift.mp4
08_histogram_backproject_meanshift_camshift/reporte/punto_3_meanshift.mp4
