typings/
08_histogram_backproject_meanshift_camshift/wooden_star.jpg
08_histogram_backproject_meanshift_camshift/wooden_star_extracted.png
08_histogram_backproject_meanshift_camshift/wooden_star_video.mp4
